<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxnoteandroid">

    <!-- Permission -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--<supports-screens-->
        <!--android:largeScreens="false"-->
        <!--android:normalScreens="true"-->
        <!--android:smallScreens="true"-->
        <!--android:xlargeScreens="false" />-->

    <application
        android:name=".TaxnoteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entryTab.SummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".entryTab.InputDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EntryEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PriceEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpgradeActivity"
            android:label="@string/benefits_of_upgrade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataExportActivity"
            android:label="@string/data_export"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataExportRangeActivity"
            android:label="@string/data_export_range"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchEntryActivity"
            android:label="@string/search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryListDataActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AlertInputForgetSettingsActivity"
            android:label="@string/alert_input_forget"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfitLossSettingsActivity"
            android:label="@string/profit_loss_settings"
            android:screenOrientation="portrait" />
        <activity android:name=".ProfitLossExportActivity"
            android:label="@string/profit_loss_export"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginCloudActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity android:name=".ChangePasswordActivity"
            android:label="@string/change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportFilterActivity"
            android:label="@string/taxnote_data_import"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/*" />
            </intent-filter>
        </activity>
        <service android:name=".Library.DailyAlertInputForgetService" />

        <receiver android:name=".Library.OnBootReceiver"
            android:enabled="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7ea2f586f56027786c190abd3ff3f31a3a1616fc" />

        <activity
            android:name=".CalculatorActivity"
            android:label="@string/title_activity_calculator"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.calculator2.Calculator"
            android:screenOrientation="portrait" />
    </application>

</manifest>
